@media screen and (min-width: 250px) {
    .team-img {
      height: 80px;
      margin: 25px;
    }
  }

@media screen and (min-width: 300px) {
    .team-img {
      height: 100px;
      margin: 30px;
    }
  }

  @media screen and (min-width: 350px) {
    .team-img {
      height: 100px;
      margin: 30px;
    }
  }

  @media screen and (min-width: 400px) {
    .team-img {
      height: 150px;
      margin: 30px;
    }
  }


  @media screen and (min-width: 500px) {
    .team-img {
      height: 200px;
      margin: 30px;
    }
  }

  @media screen and (min-width: 750px) {
    .team-img {
      height: 200px;
      margin: 30px;
    }
  }

  @media screen and (min-width: 800px) {
    .team-img {
      height: 200px;
      margin: 30px;
    }
  }

  @media screen and (min-width: 1000px) {
    .team-img {
      height: 350px;
      margin: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    .team-img {
      height: 500px;
      margin: 30px;
    }
  }